/**{
    border: red solid 1px;
}*/

body {
    color: #222;
    font-family: 'Montserrat', sans-serif;
}

main {
    padding: 1rem;
    width: 85%;
    margin: 0 auto;
}

img {
    max-width: 100%;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
}

header a {
    text-decoration: none;
    color: inherit;
    font-size: 1.2rem;
}

header a.logo {
    font-weight: bold;
    font-size: 1.5rem;
}

header nav {
    display: flex;
    gap: 1rem;
}


.entry {
    display: grid;
    grid-template-columns: 30% 70%;
    gap: 2rem;
    margin-bottom: 1rem;
}

.entry .text__container h2 {
    font-size: 2.5rem;
    margin-top: 0;
}

.entry .text__container .info {
    color: #888;
    font-size: 0.9rem;
    font-weight: bold;
    margin: 1rem 0;
    display: flex;
    gap: 0.5rem;
}

.entry .text__container .info .author {
    color: black;
}

.entry .text__container .summary {
    line-height: 1.5rem;
}

.entry img {
    height: 100%;
}

.login-form,
.register-form,
.post-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
}

.login-form button,
.register-form button,
.post-form button {
    background-color: #333333;
    color: white;
    cursor: pointer;
    width: 15%;
    border-radius: 0.5rem;
    height: 2rem;
    margin-top: 1rem;
    border: none;
}

input {
    width: 30%;
    height: 1.5rem;
    text-align: center;
    border-radius: 0.5rem;
    border: solid 2px lightgray;
    display: block;
}

.alert {
    color: red;
}


.entry .text__container a {
    text-decoration: none;
    color: inherit;
}

.post-page>.image img{
    max-width: 60%;
    text-align: center;
}

.post-page .author{
    margin-bottom: 1rem;
}

.post-page time{
    color: gray;
}

.post-page>.content{
    line-height: 1.5rem;
}

.post-page{
    text-align: center;
}